body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}

.main{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(2,1fr);
  padding: 2rem;
}

.first {
  background-color: gray;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}
.second {
  background-color: bisque;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
}

ul{
  list-style-type: none;

}

ul > li{
  font-size: 25px;
}

h1 {
  text-align: center;
  font-style: italic;
}